/* 
style.css
Author: Jacob Rust
Date: 3/15/2014
​This file contains the css to stile the closingtime app
*/

#box {
    background-color: #FFFFFF; 
    border: solid 1px rgb(0,113,188); 
    outline: none; 
    padding: 2px 2px; 
    top:-55px;
    right:100px;
    width: 420px;
}

#searchBox {}

.form { 
    background-color: #D7EFFF; 
    border: solid 1px #646464; 
    outline: none; 
    padding: 2px 2px; 
} 
.input:hover { 
    background-color: #FFFFFF; 
} 
.textbox:focus { 
    background-color: #FFFFFF; 
} 
.textbox:active { 
    background-color: #FFFFFF; 
}

#searchButton {
	background-color:#ffffff;
	border:1px solid #0074bc;
	display:inline-block;
	color:#0074bc;
	font-family:Arial;
        font-size:17px;    
	font-weight:bold;
	font-style:normal;
        height:23px;
        line-height:23px;
        width:50px;
	text-decoration:none;
	text-align:center;
}#searchButton:hover {
	background-color:#f0f9ff;
}#searchButton:active {
	position:relative;
	top:1px;
}

#searchResults{
    position: absolute;
    top: 50px;
    left: 25px;
}​


