/* 
style.css
Author: Jacob Rust
Date: 3/15/2014
​This file contains the css to stile the closingtime app
*/

#searchBox {
    position:relative;
}

#box {
    background-color: #FFFFFF; 
    border: solid 1px rgb(0,113,188); 
    outline: none; 
    padding: 2px 2px; 
    position: absolute;
    top:-55px;
    right:468px;
}

.form { 
    background-color: #D7EFFF; 
    border: solid 1px #646464; 
    outline: none; 
    padding: 2px 2px; 
} 
.input:hover { 
    background-color: #FFFFFF; 
} 
.textbox:focus { 
    background-color: #FFFFFF; 
} 
.textbox:active { 
    background-color: #FFFFFF; 
}

#searchButton {
	background-color:#ffffff;
	border:1px solid #0074bc;
	display:inline-block;
	color:#0074bc;
	font-family:Arial;
	font-size:34px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
}#searchButton:hover {
	background-color:#f0f9ff;
}#searchButton:active {
	position:relative;
	top:1px;
}

#searchResults{
    position: absolute;
    top: 50px;
    left: 25px;
}​


