/* 
style.css
Author: Jacob Rust
Date: 3/15/2014
​This file contains the css to style the closingtime app
*/

#box {
    background-color: #FFFFFF; 
    border: solid 1px rgb(0,113,188); 
    outline: none; 
    padding: 2px 2px; 
    top:-55px;
    right:100px;
    width: 320px;
}

html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#searchBox {}

.form { 
    background-color: #D7EFFF; 
    border: solid 1px #646464; 
    outline: none; 
    padding: 2px 2px; 
} 
.input:hover { 
    background-color: #FFFFFF; 
} 
.textbox:focus { 
    background-color: #FFFFFF; 
} 
.textbox:active { 
    background-color: #FFFFFF; 
}

.Button {
	background-color:#ffffff;
	border:1px solid #0074bc;
	display:inline-block;
	color:#0074bc;
	font-family:Arial;
        font-size:17px;    
	font-weight:bold;
	font-style:normal;
        height:23px;
        line-height:23px;
        width:50px;
	text-decoration:none;
	text-align:center;
}.Button:hover {
	background-color:#f0f9ff;
}.Button:active {
	position:relative;
	top:1px;
}

#backButton {
    visibility: hidden;
    position: relative;
    text-align: center;
    position: relative;
    left: 50%;
    top: -150px;
}

#searchResults{
    margin-top: 13px;
    text-align: center;
    top: -150px;
    left: 0px;
}​